# Unity (interpretAR_Unity)
interpretAR/interpretAR_Unity/[Ll]ibrary/
interpretAR/interpretAR_Unity/[Tt]emp/
interpretAR/interpretAR_Unity/[Oo]bj/
interpretAR/interpretAR_Unity/[Bb]uild/
interpretAR/interpretAR_Unity/[Ll]ogs/
interpretAR/interpretAR_Unity/[Mm]emoryCaptures/
interpretAR/interpretAR_Unity/UserSettings/
*.unitypackage

# Android / Gradle / Android Studio (anywhere under interpretAR)
interpretAR/**/build/
interpretAR/**/.gradle/
interpretAR/**/.idea/
interpretAR/**/local.properties
interpretAR/**/captures/
*.iml
*.apk
*.aab
*.class
